html,
body,
.wrapper{
    height: 100%;
    margin: 0; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}

.header {
    justify-content: center;
    display: flex;
    flex: 1 1 0px;
    background-color: #1F2937;
}

.first-row {
    display: flex;

}

.first-row ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.first-row ul li a {
    display: flex;
    color: #E5E7EB;
    gap: 5px;
    font-size: 18px;
}

.information-section {
    display: flex;
    flex: 1 1 0px;
    background-color: white;
}

.quote-section {
    display: flex;
    flex: 1 1 0px;
    background-color: #E5E7EB;
}

.sign-section {
    display: flex;
    flex: 1 1 0px;
    background-color: white;
}

.footer {
    display: flex;
    background-color: #1F2937;
}

.logo {
    margin-left: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

a {
    text-decoration: none;
}