html,
body,
.wrapper{
    height: 130%;
    width: 85%;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.header {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex: 1 1 0px; 
    background-color: #1F2937;
}

.first-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 5px;
}

.first-row ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-right: 126px;
    gap: 5px;
  
}

.first-row ul li a {
    display: flex;
    color: #E5E7EB;
    gap: 5px;
    font-size: 18px;
}

.logo {
    margin-left: inherit;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    margin-left: 126px;
}

.empty {
    height: 50px;
}

.second-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.second-text-container {
    display: flex;
    flex-direction: row;
}

.second-text-container {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    background-color: #a8a8a8;
    color: white;
   
}

.header-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 0;
}

.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 5px;
}

.header-subtext .sign-button {
    margin-top: 5px;
}



/* -------------------------------Second section starts here-------------------------------------*/


.information-section {
    display: flex;
    flex: 1 1 0px;
    background-color: white;
}

.quote-section {
    display: flex;
    flex: 1 1 0px;
    background-color: #E5E7EB;
}

.sign-section {
    display: flex;
    flex: 1 1 0px;
    background-color: white;
}

.footer {
    display: flex;
    background-color: #1F2937;
}


.sign-button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    width: 100px;
    height: 30px;
    padding: 0px;
    background-color: blue;
}

a {
    text-decoration: none;
}

